@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    
    <h3>@Model.Message</h3>

    <a asp-page="./Create">Create</a>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@customer.Id">Edit</a>
                        <input type="submit" asp-page-handler="delete" asp-route-id="@customer.Id" value="Delete" />
                    </td>                    
                </tr>
            }

        </tbody>
    </table>
</form>